
#main{
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
  
}

@media (max-width:1199px){
    #main{
        padding: 20px;
    }
}


.product {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .profite-number{
    font-size: 30px;
    color: #012970;
  }
  
  .product-card {
  
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    display: flex;
  }
  /*
  .product-details {
    margin-left: 10px;
    width: 100%;
  }
  
  .product-details1 {
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
  }
  
  .product-card-title {
    padding: 5px 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
  }
  
  .product-card-dis {
    padding: 10px 0 0 10px;
    font-size: 15px;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
  }
  
  .product-card-views {
    padding: 10px 0 0 10px;
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
  
  }
  .product-card-price {
    padding: 10px 0 0 10px;
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
  
  }
  .product-card-reveu {
    padding: 10px 0 0 10px;
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
  
  }*/
  
  .product-img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
    display: flex;
  }
  
  
  
  .inf {
    padding: 5px;
  }
  
  .title {
    color: #1778f2;
    font-size: 20px;
    font-weight: 600;
  }
  
  .des {
    padding-left: 5px;
    font-size: 20px;
  }
  
  
  
  .button {
    padding: 8px;
    font-size: 20px;
    text-align: end;
    margin-left: 15px;
    cursor: pointer;
  }
  
  @media (max-width: 1000px) {
    .form-container {
      order: -1;
      margin-bottom: 20px;
    }
  }
  
  .button:hover {
    color: #007bff;
  }
  
  .permission {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    gap: 10px;
    font-size: 70px;
    margin-top: 10px;
  }
  
  .permission label {
    align-items: center;
    gap: 5px;
  }
  
  .search-bar {
    min-width: 360px;
    padding: 0 20px;
  }
  
  @media (max-width:1199px) {
    .search-bar {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      padding: 20px;
      box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
      background: white;
      z-index: 9999;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
  }
  
  .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
  
  .search-form {
    width: 100%;
  }
  
  .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.1);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
  }
  
  .search-form input:focus,
  .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
  }
  
  .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
  }
  
  .search-form button i {
    color: #012970;
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  
  .input {
    max-width: 190px;
    display: none;
  }
  
  .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 190px;
    border: 2px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
  }
  #main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }
  
  .product {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .profite-number{
    font-size: 30px;
    color: #012970;
  }
  
  .product-card {
  
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    display: flex;
  }
  /*
  .product-details {
    margin-left: 10px;
    width: 100%;
  }
  
  .product-details1 {
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
  }
  
  .product-card-title {
    padding: 5px 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
  }
  
  .product-card-dis {
    padding: 10px 0 0 10px;
    font-size: 15px;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
  }
  
  .product-card-views {
    padding: 10px 0 0 10px;
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
  
  }
  .product-card-price {
    padding: 10px 0 0 10px;
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
  
  }
  .product-card-reveu {
    padding: 10px 0 0 10px;
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    font-family: 'Roboto', 'sans-serif';
  
  }*/
  
  .product-img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
    display: flex;
  }
  
  .product-top-seles {
    height: 150px;
    width: 230px;
    border-radius: 10px;
    display: flex;
  }
  
  .blog-img {
    padding:20px 0 0 0 ;
    height: 500px;
    width: 100%;
    display: block;
  }
  .blog-des{
    
    padding: 20px 0 15px 0;
    font-size: 16px;
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    font-family: 'Roboto','sans-serif';
  }
  .blog-title{
    
    padding: 20px 0 15px 0;
    font-size: 40px;
    font-weight: bold;
    color: #012970;
    letter-spacing: 1px;
    font-family: 'Roboto','sans-serif';
  }
  
  
  .inf {
    padding: 5px;
  }
  
  .title {
    color: #1778f2;
    font-size: 20px;
    font-weight: 600;
  }
  
  .des {
    padding-left: 5px;
    font-size: 20px;
  }
  
  
  
  .button {
    padding: 8px;
    font-size: 20px;
    text-align: end;
    margin-left: 15px;
    cursor: pointer;
  }
  
  @media (max-width: 1000px) {
    .form-container {
      order: -1;
      margin-bottom: 20px;
    }
  }
  
  .button:hover {
    color: #007bff;
  }
  
  .permission {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    gap: 10px;
    font-size: 70px;
    margin-top: 10px;
  }
  
  .permission label {
    align-items: center;
    gap: 5px;
  }
  
  .search-bar {
    min-width: 360px;
    padding: 0 20px;
  }
  
  @media (max-width:1199px) {
    .search-bar {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      padding: 20px;
      box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
      background: white;
      z-index: 9999;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
  }
  
  .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
  
  .search-form {
    width: 100%;
  }
  
  .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.1);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
  }
  
  .search-form input:focus,
  .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
  }
  
  .search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
  }
  
  .search-form button i {
    color: #012970;
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  
  .input {
    max-width: 190px;
    display: none;
  }
  
  .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 190px;
    border: 2px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
  }