.header-nav ul{
    list-style: none;
}

.header-nav > ul{
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon{
    font-size: 22px;
    color: #012970;
    margin-right: 25px;
    position: relative;
}

.header-nav .nav-profile {
    color: #012970;
}

.header-nav .nav-profile img{
    max-height: 36px;
}

.header-nav .nav-profile span{
    font-size: 14px;
    font-weight: 600;
}

.header-nav .badge-number{
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}

.header-nav .notifications .notification-itme i{
    margin: 0 20px 0 10px;
    font-size: 16px;
}

.header-nav .notifications .notification-itme h4{
    font-size: 16px;
    font-weight: 600;
    margin-bottom:5px ;
}

.header-nav .notifications .notification-itme p{
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}

.header-nav .notifications .notification-itme:hover{
    background-color: #f6f9ff;
}